body{
    background-image: url("gif-wallpaper-3.jpg")
}



/* 25D,25C */
footer {
    float: right; 
    position: relative; 
    background: linear-gradient(magenta yellow)
}


/* 23D, 22C-3, 27C, 23E */

div > p{
    font-size: 21px;
    color: aquamarine;
    background-color: purple; 
    font-weight: 800;
    display: flex;
    justify-content: center;
}
/* 24C, 24D */
img {
    height: 45px;
    width: 45px;
    margin: 150px;
    border: 9px dotted green;
    position: fixed;
}

/* 24F 30C */

button{
    box-sizing: border-box;
    width: 50%;
    position: absolute;
    box-shadow: 15px 3px 3px magenta;
    
}
/* 22C-5 */
h1 + h2{
    color: white;
}
/* 22C-1 */
h1#Barn{
    color: yellow;
}
/* 22C-4 */
div h1{
    color: pink;
}

ul li {
    color: green;
}

/* 30D 30E 27D */
div.squares{
    width: 300px;
    height: 300px;
   background: linear-gradient(red, yellow, blue, orange);
   word-wrap: break-word;
   align-items: center;
   display: flex;
   flex-direction: row-reverse;
   flex-wrap: wrap;
}

